head
    title Image Processing API
    //- script(src='https://cdn.jsdelivr.net/npm/jquery@3.6.1/dist/jquery.slim.min.js')
    link(rel='stylesheet' href='https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css' integrity='sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N' crossorigin='anonymous')
