extends base

block content
	body.container
		h1(class='text-warning') Image Processing API
		div(class="d-flex flex-row")
			section.col-md-5
				form( action='/api/images', class="d-flex flex-column", method='GET' target='_blank')
					div.col-sm-12.d-flex
						p.col-sm-6 file name: 
						input(type='text',class="col-sm-6 align-self-end" name='filename', value='')
					div.col-sm-12.d-flex
						p.col-sm-6 width: 
						input(type='number',class="col-sm-6 align-self-end", name='width', value='')
					div.col-sm-12.d-flex 
						p.col-sm-6 height: 
						input(type='number', class="col-sm-6 align-self-end", name='height', value='')
					div.col-sm-12.d-flex.flex-column.justify-content-center.pt-2
						input(class="btn-danger btn-lg" type='submit', value='Get img')
			section.col-md-6
				div.text-center.mx-3
					h3 Available images
					.carousel.slide(data-ride='carousel' id="carouselImagesControls")
						.carousel-inner
							.carousel-item.active
								img.d-block.w-100(src="encenadaport.jpg" alt='encenadaport')
								div.carousel-caption.text-warning
									h4 encenadaport
							.carousel-item
								img.d-block.w-100(src='fjord.jpg' alt='fjord')
								div.carousel-caption.text-warning
									h4 fjord
							.carousel-item
								img.d-block.w-100(src='icelandwaterfall.jpg' alt='icelandwaterfall')
								div.carousel-caption.text-warning
									h4 icelandwaterfall
							.carousel-item
								img.d-block.w-100(src='palmtunnel.jpg' alt='palmtunnel')
								div.carousel-caption.text-warning
									h4 palmtunnel
							.carousel-item
								img.d-block.w-100(src='santamonica.jpg' alt='santamonica')
								div.carousel-caption.text-warning
									h4 santamonica
						button.carousel-control-prev(type='button' data-target='#carouselImagesControls' data-slide='prev')
							span.carousel-control-prev-icon(aria-hidden='true')
							span.sr-only Previous
						button.carousel-control-next(type='button' data-target='#carouselImagesControls' data-slide='next')
							span.carousel-control-next-icon(aria-hidden='true')
							span.sr-only Next